/* app global css */
.titleHome {
  font-size: 40px;
  justify-content: center;
}

.card {
  max-width: 300px;
}

.profilText {
  color: black;
}

.border {
  border: black 1px solid;
}

.titleQuiz {
  margin-left: 8%;
}

.contentQuiz{
  margin-left: 5%;
}

.message{
  font-size: 40px;
}

.navbarItemTitle{
  color: #4a4a4a;
  font-size: 23px;
}

.navbarItemMenu{
  color: #4a4a4a;
  font-size: 14px;
}

.navbarItemButton{
  color: #4a4a4a;
  font-size: 15px;
}
